<!doctype HTML>
<html>
  <head>
    <title>Store</title>
    <%= javascript_tag 'application' %>
    <%= local :head %>
    <%= content :foo %>
  </head>

  <body>
    <%= yield %>
    <%= local :footer %>
  </body>
</html>
